@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@500&family=Poppins:ital,wght@0,500;1,300&family=Quicksand:wght@300&display=swap");

#reviews {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: fit-content;
  font-family: "Poppins";
}
#reviews .swiper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reviews .container {
  padding-bottom: 50px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reviews .card {
  width: 500px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 20px;
  border: 0.5px solid rgba(122, 122, 122, 0.245);
}
#reviews .card .details {
  justify-content: center;
  gap: 20px;
  display: flex;
  align-items: center;
}
#reviews p {
  font-style: italic;
  font-weight: 300;
  font-size: 13px;
  color: #718096; /* Adjust the color value to match Tailwind's gray-500 */
  text-align: center;
}

/* CSS styles for image container */
#reviews .image-container {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%; /* Ensures a circular shape */
  margin-bottom: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Apply shadow effect */
  overflow: hidden; /* Hides overflow content (necessary for a circular container) */
}

/* CSS styles for the image */
#reviews .image {
  width: 100%; /* Fills the entire circular container */
  height: 100%; /* Fills the entire circular container */
  object-fit: cover; /* Maintains image aspect ratio and covers the entire space */
  border-radius: 50%; /* Ensures a circular shape */
}
@media only screen and (max-width: 1100px) {
  #reviews .container {
    width: 100%;
    height: fit-content;
    padding: 0;
    padding-bottom: 30px;
  }
  #reviews .card {
    width: 300px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
}
